```{=html}
<h2 style="padding-top:0; margin-top:0;"><a href="../blog.html">Latest Posts</a></h2>

<div>
    <% for (const item of items) { %>
        <a href="<%- item.path %>">
            <%= item.title %>
        </a>
        <p>
        <%= item.description %>
        </p>
        <% } %>
</div>

```