```{=html}
<h2 style="padding-top:0; margin-top:0;"><a href="../series/notes/">Notes</a></h2>

<div>
    <% for (const item of items) { %>
        <a href="<%- item.path %>">
            <%- item.title.replace(/(\*\*\*|\*\*|\*)/g, '') %>
        </a>
        <p>
            <%- item.description.replace(/(\*\*\*|\*\*|\*)/g, '') %>
        </p>
    <% } %>
</div>

```